<div id="header">
    <div id="status">
        <div>Mi ID: <strong id="myId">{{ myId() }}</strong></div>
        <label for="target">Chat con:</label>
        <select id="target" [formControl]="selectControl" (focus)="pedirUsuarios()">
            <option value="">Selecciona un usuario</option>
            @for (item of usuarios(); track item.id) {
            <option [value]="item.id">
                {{ item.nombre }}
            </option>
            }
        </select>
    </div>
</div>

<ul id="messages">
    @for (msg of mensajes(); track $index) {
    <li>{{ msg }}</li>
    }
</ul>

<form id="form" [formGroup]="formulario" (ngSubmit)="enviar()">
    <input id="input" formControlName="chat" autocomplete="off" placeholder="Escribe un mensaje..." />
    <button class="login-submit" type="submit">Enviar</button>
</form>