<div id="header"> <!-- esta es la parte de arriba donde está el ID propio -->
    <div id="status"> <!-- aquí mostramos el estado y el selector -->
        <div>Mi ID: <strong id="myId">...</strong></div> <!-- aquí aparecerá tu id -->
        <label for="target">Chat con:</label> <!-- etiqueta para decir con quién chateas -->
        <select [formControl]="selectControl">
            <option value="">Selecciona un usuario</option>

            @for (item of usuarios; track item.id) {
            <option [value]="item.id">
                {{ item.nombre }}
            </option>
            }
        </select>
    </div>
</div>
<ul id="messages"><!-- aquí van los mensajes que llegan -->

</ul>
<form id="form" [formGroup]="formulario" (submit)="enviar()"> <!-- este es el formulario para escribir mensajes -->
    <input id="input" formControlName="chat" autocomplete="off" placeholder="Escribe un mensaje..." />
    <button class="login-submit" type="submit">Enviar</button>
</form>